{{define "content"}}
<section class="hero is-large">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column has-text-centered">
                    <figure class="image is-128x128 is-inline-block">
                        <img class="is-rounded" src="/icons/{{.icon}}">
                    </figure>
                    <h2 class="subtitle is-3">{{.address}}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
{{end}}